<section class="hero py-16">
    <div class="container mx-auto flex items-center justify-between">
        <div class="w-1/2">
            <h6 class="text-lg"><em>Out of Grocery?</em></h6>
            <h1 class="text-3xl md:text-6xl font-bold">Don't wait !</h1>
            <a  href="/menu"><button  class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary">Order Now</button></a>
        </div>
        <div class="w-1/2">
            <img src="/img/loginpage.webp" alt="">
        </div>
    </div>
</section>