<section class="menu container mx-auto bg-gray-100">
    <div class="grid grid-cols-2 gap-2 space-y-3 space-x-3">

        <a href="/items?category=vegetables">
            <div >
                <label class="block text-gray-700 text-sm font-bold mb-3 flex items-center justify-center">
                   Veggies & Fruits
                </label>
                <img src="img/vegies-menu.png" alt="" width="600" height="400">
            </div>
        </a>
        <a href="/items?category=dairy">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-3 flex items-center justify-center">
                   Dairy Products
                </label>
                <img src="img/dairy-icon.png" alt="" width="600" height="400">
            </div>
        </a>
        <a href="/items?category=snacks">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-3 flex items-center justify-center">
                    Readymade Snacks
                </label>
                <img src="img/snacks-icon.jpg" alt="" width="600" height="400">
            </div>
        </a>
    </div>
</section>