<section class="menu container mx-auto py-8">
    <div class="grid grid-cols-2 gap-2">
        <a href="/vegies">
            <div>Vegetables<img src="img/24646-6-vegetable-photos.png" alt=""></div>
        </a>
      </div>
</section>