<div  class="okar3">
    <div class="flex items-center justify-center">
            <button  name="location"
            class="btn-primary rounded-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="button">
            <a class="inline-block align-baseline font-bold text-sm" href="/offlinecustomer">
                ORDER OFFLINE
            </a>
        </button>
        
    </div>
    </div>
    <div class="flex items-center justify-center">
        <label class="inline-block align-baseline font-bold text-sm">
            <div class="okar1">OR</div>
         </label>
    </div>
    <div class="flex items-center justify-center">
        <label class="inline-block align-baseline font-bold text-sm">
            <div class="okar2">ORDER FROM THESE CATEGORIES</div>
         </label>
    </div>
    
    <section class="menu container mx-auto bg-gray-100">
        
        <div class="grid grid-cols-3 gap-2 ">
           
            <a href="/items?category=vegetables">
                <div >
                    <label class="block text-gray-700 text-sm font-bold mb-3 flex items-center justify-center">
                      Veggies & Fruits
                    </label>
                    <img src="img/vegies-menu.png" alt="" width="355" height="355">
                </div>
            </a>
            <a href="/items?category=dairy">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-3 flex items-center justify-center">
                       Dairy Products
                    </label>
                    <img src="img/dairy-icon.png" alt="" width="370" height="370">
                </div>
            </a>
            <a href="/items?category=snacks">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-3 flex items-center justify-center">
                        Readymade Snacks
                    </label>
                    <img src="img/snacks-icon.jpg" alt="" width="305" height="20">
                </div>
            </a>
        </div>
    </section>